<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>emV3.1</display-name>
	<description>
		spring4+mybatis3+SpringMVC
	</description>
	<!-- 安全访问控制，禁止直接通过url来访问服务器文件夹 这里只是简单的用test文件夹做示例，需要哪个文件夹就写哪个-->
	<security-constraint>
		<display-name>interceptor-jsp</display-name>
		<web-resource-collection>
			<web-resource-name>JSPs</web-resource-name>
			<url-pattern>/test/*</url-pattern>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>

	<!-- session过期时间 -->
	<session-config>
		<session-timeout>1440</session-timeout>
	</session-config>
	<!-- 定义错误页以及欢迎页 -->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/not_found.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/error.jsp</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>
</web-app>